<div id="wrapper" class="horizontal">
        
    <!--  Header  -->
    <header  uk-sticky>
        <div class="header_inner">
            <div class="left-side">

                <!-- Logo -->
                <div id="logo">
                    <img class="light-version-logo" src="../../../assets/images/datahorizon-logo.png" alt="logo" width="200" height="100">
 
                </div>

                <!-- icon menu for mobile -->
                <div class="triger" uk-toggle="target: .header_menu ; cls: is-visible">
                </div>

                <!-- menu bar for mobile -->
                <nav class="header_menu">
                    <ul> 
                        <li> 
                            <a href="#"> Employees</a> 
                            
                      
                        </li>
                       
                    </ul>
                </nav>

                <!-- overly for small devices -->
                <div class="overly" uk-toggle="target: .header_menu ; cls: is-visible"></div>

            </div>
            <div class="right-side">

                
                

                

                

                

            </div>
        </div>
    </header>
</div>