<!-- Main Contents -->
<div id="wrapper" class="horizontal">
 
    <div class="container md:space-y-10 space-y-6">

        <!--  breadcrumb -->
        <div class="breadcrumb-area py-0 justify-between sm:flex">
            <div> 
                <h3 class="md:text-2xl text-lg font-semibold mb-2"> Employees </h3>
                <div class="breadcrumb">
                    <ul class="m-0">
                        <li>
                            <a> <i class="icon-feather-home"></i> </a>
                        </li>
                        <li>
                            <a>Dashboard</a>
                        </li> 
                        <li class="active">
                            <a >Employee List</a>
                        </li>
                    </ul> 
                </div>
            </div>
            <div class="bg-gray-100 border inline-flex p-0.5 rounded-md text-lg self-center">
                <a class="py-1.5 px-2.5 rounded-md bg-white shadow" data-tippy-placement="top" title="Grid view"> 
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg> 
                </a>
                <a class="py-1.5 px-2.5 rounded-md" data-tippy-placement="top" title="List view"> 
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                </a>
            </div>
        </div> 

        <div class="bg-white shadow rounded-md overflow-auto">

            <h3 class="px-5 pt-5 font-semibold text-lg capitalize"> Employee list  </h3>

            <div class="grid grid-cols-5 gap-5 p-5 align-items-end font-medium">

                <!-- Employee Minimum Age: -->
                <div>
                    <label for="minAge" class="font-medium">Minimum Age:</label>
                    <input type="number" id="minAge" [(ngModel)]="minAge">
                </div>

                <!-- Employee Maximum Age: -->
                <div>
                    <label for="maxAge" class="font-medium">Maximum Age:</label>
                    <input type="number" id="maxAge" [(ngModel)]="maxAge">
                </div>
        
                <!-- Employee Minimum Age: -->
                <div>
                    <label for="minSalary" class="font-medium">Minimum Salary:</label>
                    <input type="number" id="minSalary" [(ngModel)]="minSalary">
                </div>

                <!-- Employee Maximum Salary: -->
                <div>
                    <label for="maxSalary" class="font-medium">Maximum Salary:</label>
                    <input type="number" id="maxSalary" [(ngModel)]="maxSalary">
                </div>

                <div>
                    <button type="button" class="bg-blue-600 px-4 py-2.5 rounded-md self-center text-center text-white w-full" (click)="applyFilters()">Filter </button>
                </div>

            </div>
        
            <div class="items-end justify-between p-5 sm:flex -mt-2 mb-2">
                
                <div>
                    <label for="itemsPerPage" class="text-gray-600">Show items per page:</label>
                    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                </div> 
                <div class="bg-white border flex items-center overflow-hidden relative rounded-lg">
                    <a  class="bg-white shadow inline-block px-8 py-1.5 rounded-md text-center">Add</a>
                </div>
            </div>

            <table class="sm:table-fixed w-full border-b">
                <thead>
                    <tr class="border-b bg-gray-50 text-base text-black">
                        <th class="w-1/12 p-3 font-medium">No</th>
                        <th class="w-4/12 p-3 font-medium ">
                            <ion-icon name="arrow-up-outline" (click)="sortEmployeesByNameAsc()" ></ion-icon> 
                            <span class="ml-1"></span>Employee 
                            <span class="ml-1">
                             <ion-icon name="arrow-down-outline" (click)="sortEmployeesByNameDesc()"></ion-icon>
                            </span>
                        </th>
                        <th class="w-3/12 p-3 font-medium text-right">
                            <ion-icon name="arrow-up-outline" (click)="sortEmployeesByDateOfBirthAsc()" ></ion-icon> 
                            <span class="ml-1"></span>Date Of Birth 
                            <span class="ml-1">
                                <ion-icon name="arrow-down-outline" (click)="sortEmployeesByDateOfBirthDesc()"></ion-icon>
                            </span>
                        </th>
                        <th class="w-2/12 p-3 font-medium text-right">
                            <ion-icon name="arrow-up-outline" (click)="sortEmployeesByAgeAsc()" ></ion-icon> 
                            <span class="ml-1"></span>Age
                            <span class="ml-1">
                                <ion-icon name="arrow-down-outline" (click)="sortEmployeesByAgeDesc()"></ion-icon>
                            </span>
                        </th>
                        <th class="w-2/12 p-3 font-medium text-right">
                            <ion-icon name="arrow-up-outline" (click)="sortEmployeesByAddressAsc()" ></ion-icon> 
                            <span class="ml-1"></span>Address
                            <span class="ml-1">
                                <ion-icon name="arrow-down-outline" (click)="sortEmployeesByAddressDesc()"></ion-icon>
                            </span>
                        </th>
                        <th class="w-2/12 p-3 font-medium text-right">
                            <ion-icon name="arrow-up-outline" (click)="sortEmployeesBySalaryAsc()" ></ion-icon> 
                            <span class="ml-1"></span>Salary
                            <span class="ml-1">
                                <ion-icon name="arrow-down-outline" (click)="sortEmployeesBySalaryDesc()"></ion-icon>
                            </span>
                        </th>
                        <th class="w-2/12 p-3 font-medium text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees ; let employeeIndex=index">
                        <td class="p-3"> {{employeeIndex + 1}} </td>
                        <td class="flex items-center space-x-3 p-3 pr-0  sm:w-auto">
                            <img [src]="employee.imageUrl" alt="" class="h-12 w-16 -ml-3 object-cover rounded-md md:block hidden">
                            <div class="flex-1 min-w-0">
                              <a href="#" class="text-gray-600 text-sm font-medium hover:underline"> {{ employee.firstName }} {{ employee.lastName }}</a>
                              <p class="text-gray-400 text-xs">{{ employee.contactNumber }}</p>
                              <p class="text-gray-400 text-xs">{{ employee.email }}</p>
                            </div>
                        </td>
                        <td class="py-3 text-right"> {{employee.dob}}</td>
                        <td class="py-3 text-right "> {{employee.age}} </td>
                        
                        <td class="py-3 text-right"> {{employee.address}}</td>
                        <td class="py-3 text-right"> {{employee.salary}} </td>
                        <td class="p-3 text-right"> 
                            <a href="#" class="hover:bg-gray-200 p-1.5 inline-block rounded-full" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                </svg>
                            </a>
                            <div class="bg-white w-44 shadow-lg border border-gray-100 p-2 mt-12 rounded-md text-gray-500 hidden text-left font-medium" 
                            uk-drop="pos: bottom-right">
                                <ul class="space-y-1">
                                <li>
                                    <a   class="px-3 py-2 rounded-md block hover:bg-gray-100"> Edit </a>
                                </li>
                                <li>
                                    <hr class="-mx-2 my-2 dark:border-gray-800">
                                </li> 
                                <li>
                                    <a (click)="deleteEmployee(employee)" class="px-3 py-2 rounded-md block text-red-500 hover:bg-red-100 hover:text-red-500 "> Delete </a>
                                </li> 
                                </ul>
                            </div>
                        </td>
                    </tr>
                    
                    
                </tbody>
            </table>

            <div class="flex items-center justify-between sm:flex-row flex-col mt-2 p-6">
                <p class="mb-3"> Showing {{ itemsEmployeesNumber }} of {{ totalEmployees }} entries </p>
                
                <div class="border divide-x flex font-medium items-center rounded-md text-gray-600">
                    <a [class.disabled]="currentPage === 1" class="py-2 px-5 hover:bg-gray-100" (click)="changePage(currentPage - 1)">Previous</a>
                    <a class="py-2 px-3 hover:bg-gray-100" (click)="changePage(1)">1</a>
                    <ng-container *ngIf="currentPage == 2">
                        <a  class="py-2 px-3 hover:bg-gray-100" (click)="changePage(2)">2</a>
                    </ng-container>
                    <ng-container *ngIf="currentPage > 2">
                        <a class="py-2 px-3 hover:bg-gray-100">...</a>
                    </ng-container>
                    <ng-container *ngIf="currentPage >2">
                        <a  class="py-2 px-3 hover:bg-gray-100" >{{ currentPage }}</a>
                    </ng-container>
                    <ng-container *ngIf="currentPage + 1 < totalPages">
                        <a class="py-2 px-3 hover:bg-gray-100">...</a>
                    </ng-container>
                    <a *ngIf="currentPage + 1 < totalPages" class="py-2 px-3 hover:bg-gray-100">{{ totalPages }}</a>
                    <a [class.disabled]="currentPage === totalPages" *ngIf="currentPage < totalPages" class="py-2 px-5 hover:bg-gray-100" (click)="changePage(currentPage + 1)">Next</a>
                </div>
                
            </div>

        </div>  

    </div>
</div>
